.main-page {
  display: grid;
  grid-column: 1fr;
  grid-row: 2fr;
}

.logo {
  display: grid;
  align-items: center;
  justify-items: center;
}

.pad-manager {
  display: grid;
  align-items: center;
  justify-items: center;
}

.pad-manager__subgrid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 40px;
  align-items: center;
  justify-items: center;
}

.pad-manager__pad-adder {
}

.pad-manager__create-button {
}

.pad-manager__title-input {
}

.pad-manager__pad-list {
}

.pad-manager__pad {
}

.pad-manager__delete-button {
}

.pad-manager__link {
}
