.App {
  text-align: center;
    "logo"
    "pad-manager";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.logo {
  grid-area: logo;
  align-self: center;
  justify-self: center;
  border: 1px solid;
}

.pad-manager {
  grid-area: pad-manager;
  background-color: coral;
  border: 1px solid;
}

.pad-manager__pad-adder {
}

.pad-manager__create-button {
}

.pad-manager__title-input {
}

.pad-manager__pad-list {
}

.pad-manager__pad {
}

.pad-manager__delete-button {
}

.pad-manager__link {
}
